<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<%= link_to "Edit", edit_article_path(@article) , class: 'w-25 p-1 btn btn-outline-primary text-white border border-primary' %>

<%= link_to "Delete", article_path(@article), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } , class: 'w-25 p-1 btn btn-outline-danger text-white border border-danger'
%>

<hr>

<h3 class="pt-3">Comments</h3>
<%= render @article.comments %>


<h3 class="pt-3">Add a comment</h3>
<%= render 'comments/form' %>
